body {
           
    font-family: Arial, sans-serif;
    background-color: #756f8e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #62506f;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

.discussion-board {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
}

button {
    background-color: #756f8e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:#62506f;
}